@charset "UTF-8";
.direction-anticlockwise {
  transform: scaleX(-1);
}

.reverse-arrow {
  transform: scaleY(-1);
}

#direction-text {
  text-align: right;
  font-size: 110%;
  margin-right: 10px;
}
#direction-text #direction-play-symbol {
  display: inline-block;
  transition: transform 500ms ease-in-out;
}

.direction-arrow-icon {
  background: url("img/direction.svg") no-repeat center;
  width: 1rem;
  height: 1rem;
}
.direction-arrow-icon.white {
  background-image: url("img/direction-white.svg");
}
.direction-arrow-icon.white.straight {
  background-image: url("img/direction-straight-white.svg");
}

.player-board .player-hand-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/cards.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.counters .counter span {
  padding: 0 5px 0 5px;
}
.counters .counter-icon {
  left: 0;
  width: 126px;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.counters .counter-icon.card {
  background-image: url("img/illustration-left.png");
}
.counters .counter-icon.farmer-card {
  background-image: url("img/farmer-icon.png");
}

#direction_popin {
  display: none;
  margin-bottom: 20px;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}
#direction_popin .popin-content {
  display: flex;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 2px #0006;
}
#direction_popin .popin-content #pickBlock {
  display: none;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#direction_popin .popin-content #pickBlock.visible {
  display: flex;
}
#direction_popin .popin-content #pickBlock .pickButton {
  min-width: 100px;
  max-width: 200px;
}
#direction_popin .direction-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
#direction_popin .direction-button .next-player {
  font-weight: bold;
}
#direction_popin .centered {
  display: flex;
}
#direction_popin.swap .centered {
  flex-direction: row-reverse;
}

.direction-symbol {
  font-size: 400%;
  text-shadow: rgba(0, 0, 0, 0.4) 0 3px 0;
}
.direction-symbol.direction-arrow-icon {
  width: 3rem;
  height: 3rem;
}

#direction_animation {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#gamezone {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /** Table layout **/
}
#gamezone #playertables {
  position: relative;
  background-color: #78ad2c;
  border-radius: 30px;
  box-shadow: 2px 2px 5px black;
  border: 1px solid #193b27;
  padding: 0 20px;
  width: 100%;
}
#gamezone #playertables .players-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}
#gamezone #playertables #toprowplayers {
  flex-direction: row-reverse;
}
#gamezone #playertables .playertable {
  position: relative;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  min-width: 120px;
}
#gamezone #playertables .playertable.active {
  border: 1px solid orange;
  box-shadow: 0 0 3px 2px orange;
}
#gamezone #playertables .playertable .playertablename {
  user-select: none;
  font-weight: bold;
}
#gamezone #playertables .playertable.selectable {
  border: 4px dashed transparent;
  animation: blink 0.5s step-end infinite alternate;
  cursor: pointer;
}
@keyframes blink {
  50% {
    border-color: red;
  }
}
#gamezone #playertables .playertable.selectable.selected {
  animation: none;
  box-shadow: 0 0 5px 5px red;
}
#gamezone #playertables .row {
  display: flex;
  min-height: 183px;
}
#gamezone #playertables .row .rowIndicatorWrapper {
  width: 121px;
}
#gamezone #playertables .row .rowIndicatorWrapper #rowIndicator {
  width: 121px;
  height: 188px;
  overflow: hidden;
}
#gamezone #playertables .row .rowIndicatorWrapper #rowIndicator #rowIndicatorBackground {
  background-image: url("img/direction.jpg");
  width: 188px;
  height: 121px;
  transform: rotate(90deg);
  transform-origin: 61px 55px;
}
#gamezone #playertables .row .rowIndicatorWrapper #rowIndicator #rowIndicatorBackground.inverse {
  transform: rotate(-90deg);
  transform-origin: 84px 90px;
}
#gamezone #playertables .row .herd {
  flex: 1;
}
#gamezone #playertables .illustration {
  position: absolute;
  bottom: 0;
  height: 150px;
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
#gamezone #playertables .illustration.left {
  left: 0;
  width: 126px;
  background-image: url("img/illustration-left.png");
  border-radius: 0 0 0 30px;
}
#gamezone #playertables .illustration.right {
  right: 0;
  width: 119px;
  background-image: url("img/illustration-right.png");
  border-radius: 0 0 30px 0;
}
#gamezone .between-players-arrow {
  background-image: url("img/direction.jpg");
  background-size: contain;
  width: 47px;
  height: 30.25px;
  transform-origin: center center;
  border-radius: 4px;
  transition: transform 0.5s;
}
#gamezone .between-players-arrow.top {
  transform: rotate(0deg);
}
#gamezone .between-players-arrow.top.direction-anticlockwise {
  transform: rotate(180deg);
}
#gamezone .between-players-arrow.bottom {
  transform: rotate(180deg);
}
#gamezone .between-players-arrow.bottom.direction-anticlockwise {
  transform: rotate(0deg);
}
#gamezone #direction-animation-symbol {
  width: 200px;
  height: 200px;
  background-image: url("img/direction.svg"), url("img/direction-white-shadow.png");
  background-size: 88%, 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}
#gamezone #direction-animation-symbol.straight {
  background-image: url("img/direction-straight.svg"), url("img/direction-straight-white-shadow.png");
  background-size: 57%, 100%;
}
#gamezone .clockwiseToAnticlockwise {
  animation-name: clockwiseToAnticlockwise;
  animation-duration: 3s;
  animation-fill-mode: both;
}
@keyframes clockwiseToAnticlockwise {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  30% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  70% {
    opacity: 1;
    transform: scale3d(-1, 1, 1);
  }
  100% {
    transform: scale3d(-0.3, 0.3, 0.3);
  }
}
#gamezone .anticlockwiseToClockwise {
  animation-name: anticlockwiseToClockwise;
  animation-duration: 3s;
  animation-fill-mode: both;
}
@keyframes anticlockwiseToClockwise {
  0% {
    opacity: 0;
    transform: scale3d(-0.3, 0.3, 0.3);
  }
  30% {
    opacity: 1;
    transform: scale3d(-1, 1, 1);
  }
  70% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
#gamezone .downToUp {
  animation-name: downToUp;
  animation-duration: 3s;
  animation-fill-mode: both;
}
@keyframes downToUp {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  30% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  70% {
    opacity: 1;
    transform: scale3d(1, -1, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, -0.3, 0.3);
  }
}
#gamezone .upToDown {
  animation-name: upToDown;
  animation-duration: 3s;
  animation-fill-mode: both;
}
@keyframes upToDown {
  0% {
    opacity: 0;
    transform: scale3d(0.3, -0.3, 0.3);
  }
  30% {
    opacity: 1;
    transform: scale3d(1, -1, 1);
  }
  70% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

#opponent-hand {
  width: 660px;
  max-width: 90vh;
}

.spectatorMode #myhand_wrap {
  display: none;
}

#myhand .stockitem, #myfarmers .stockitem, #theherds .stockitem, #opponent-animals .stockitem, #direction, #deck, #rowIndicatorBackground {
  border-radius: 10px;
  margin: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

#opponent-animals {
  padding-bottom: 5px;
}

#theherds hr {
  margin: 10px 20%;
  border: 0;
  box-shadow: 0 0 2px 2px #507e29;
}

#handdeck {
  display: flex;
  flex-wrap: wrap;
  /* hand */
  /* deck */
}
#handdeck #myhand_wrap {
  flex: 1;
}
#handdeck #myhand_wrap #cows-and-farmers {
  display: flex;
}
#handdeck #myhand_wrap #cows-and-farmers #myhand {
  flex: 3;
}
#handdeck #myhand_wrap #cows-and-farmers #myhand .stockitem_selected {
  margin: 3px;
  border: 2px solid green !important;
  box-shadow: 1px 1px 5px green, 2px 2px 4px green;
}
#handdeck #myhand_wrap #cows-and-farmers #myfarmers {
  flex: 1;
}
#handdeck #myhand_wrap #cows-and-farmers .stockitem:not(.disabled) {
  cursor: pointer;
}
#handdeck #myhand_wrap #cows-and-farmers .stockitem:hover {
  margin: 3px;
  border: 2px solid green !important;
}
#handdeck #myhand_wrap #cows-and-farmers .stockitem.disabled {
  cursor: not-allowed;
  opacity: 0.5 !important;
}
#handdeck #myhand_wrap #cows-and-farmers .stockitem.disabled:hover {
  cursor: not-allowed;
  margin: 3px;
  border: 2px solid red !important;
}
#handdeck #myhand.bounce {
  animation-name: handBounce;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes handBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
#handdeck .direction-anticlockwise {
  transform: scaleX(-1);
}
#handdeck #deck_wrap {
  margin-left: 10px;
  text-align: center;
}
#handdeck .card-back {
  width: 183px;
  height: 122px;
  background-image: url("img/card-back.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
#handdeck #remainingCards {
  font-size: 400%;
  color: white;
  text-shadow: 0px 0px 10px black, 0px 0px 5px black, 0px 0px 2px black;
}
#handdeck #remainingCards.remainingCardsEmpty {
  color: red;
}

.tooltip-fly {
  white-space: nowrap;
  min-width: 40px;
}

/* class also used on score table */
.tooltip-fly-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("img/fly.png");
  vertical-align: middle;
}

.log-arrow:before {
  content: "▲";
  display: inline-block;
}

.rotate90:before {
  transform: rotate(90deg);
}

.rotate270:before {
  transform: rotate(270deg);
}

.log-farmer-card {
  width: 121px;
  height: 188px;
  background: url("img/farmers.jpg");
  background-size: auto 100%;
}
.log-farmer-card[data-type="1"] {
  background-position-x: 0%;
}
.log-farmer-card[data-type="2"] {
  background-position-x: 11.1111111111%;
}
.log-farmer-card[data-type="3"] {
  background-position-x: 22.2222222222%;
}
.log-farmer-card[data-type="4"] {
  background-position-x: 33.3333333333%;
}
.log-farmer-card[data-type="5"] {
  background-position-x: 44.4444444444%;
}
.log-farmer-card[data-type="6"] {
  background-position-x: 55.5555555556%;
}
.log-farmer-card[data-type="7"] {
  background-position-x: 66.6666666667%;
}
.log-farmer-card[data-type="8"] {
  background-position-x: 77.7777777778%;
}
.log-farmer-card[data-type="9"] {
  background-position-x: 88.8888888889%;
}
.log-farmer-card[data-type="10"] {
  background-position-x: 100%;
}

.hand-wrap {
  display: flex;
  padding: 0;
}
.hand-wrap.hidden {
  display: none;
}
.hand-wrap .hand-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
}
.hand-wrap .hand-label h3 {
  flex: 1;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 5px;
  text-overflow: ellipsis;
}
.hand-wrap .animals {
  flex: 1;
}
.hand-wrap .animals.text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-size: 120%;
}

.tableWindow table {
  width: 100%;
}

.farmer-icon {
  border-radius: 8px;
  width: 80px;
  height: 31px;
  background-image: url("img/farmers.jpg");
  display: inline-block;
  vertical-align: inherit;
  margin-left: 5px;
  margin-bottom: 1px;
  background-position-y: 95%;
}
.farmer-icon.farmer1 {
  background-position-x: 1.8%;
}
.farmer-icon.farmer2 {
  background-position-x: 12.5%;
}
.farmer-icon.farmer3 {
  background-position-x: 23.2%;
}
.farmer-icon.farmer4 {
  background-position-x: 33.9%;
}
.farmer-icon.farmer5 {
  background-position-x: 44.6%;
}
.farmer-icon.farmer6 {
  background-position-x: 55.3%;
}
.farmer-icon.farmer7 {
  background-position-x: 66%;
}
.farmer-icon.farmer8 {
  background-position-x: 76.7%;
}
.farmer-icon.farmer9 {
  background-position-x: 87.4%;
}
.farmer-icon.farmer10 {
  background-position-x: 98.1%;
}
