#gamezone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    /** Table layout **/

    #playertables {
        position: relative;
        background-color: #35714a;
        border-radius: 30px;
        box-shadow: 2px 2px 5px black;
        border: 1px solid #193b27;
        padding: 0 20px;
        width: 100%;

        .players-row {
            display: flex;
            justify-content: space-evenly;
            padding: 15px;
        }
        
        #toprowplayers {
            flex-direction: row-reverse;
        }

        .playertable {
            position: relative;
            text-align: center;
            border-radius:10px;
            border:1px solid black;
            box-sizing: border-box;
            background-color:rgba(255,255,255,0.7);
            padding:10px;
            min-width: 120px;
    
            &.active {
                border:2px solid orange;
            }
    
            .playertablename {
                font-weight: bold;
            }

            &.selectable {
                @keyframes blink { 
                    50% { border-color: red; } 
                }
                border: 4px dashed transparent;
                animation: blink .5s step-end infinite alternate;
                cursor: pointer;

                &.selected {
                    animation: none;
                    box-shadow: 0 0 5px 5px red;
                }
            }
        }

        #theherd {
            min-height: 183px;
        }
    }

    /* direction popins */

    .direction-symbol {
        font-size: 400%;
        text-shadow: rgb(0 0 0 / 40%) 0 3px 0;
    }
    
    #direction_popin {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        z-index: 2;

        .popin-content {
            display: flex;
            background: white;
            border-radius:10px;

            #pickBlock {
                display: none;
                padding: 10px;
                flex-direction: column;
                justify-content: center;

                &.visible {
                    display: flex;
                }

                .pickButton {
                    min-width: 100px;
                    max-width: 200px;
                }
            }
        }

        .direction-button {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px;

            .next-player {
                font-weight: bold;
            }
        }

        .centered {
            display: flex;
        }

        &.swap .centered {
            flex-direction: row-reverse;
        }
    }

    #direction_animation {
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    #direction-animation-symbol {
        font-size: 1200%;
        opacity: 0;
        text-shadow: 0px 0px 10px white, 0px 0px 5px white, 0px 0px 2px white;
    }

    .clockwiseToAnticlockwise {
        animation-name: clockwiseToAnticlockwise;
        animation-duration: 3s;
        animation-fill-mode: both;
    }

    @keyframes clockwiseToAnticlockwise {
        0% {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }
        30% {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
        70% {
            opacity: 1;
            transform: scale3d(-1, 1, 1);
        }
        100% {
            opacity: 0;
            transform: scale3d(-0.3, 0.3, 0.3);
        }
    } 

    .anticlockwiseToClockwise {
        animation-name: anticlockwiseToClockwise;
        animation-duration: 3s;
        animation-fill-mode: both;
    }

    @keyframes anticlockwiseToClockwise {
        0% {
            opacity: 0;
            transform: scale3d(-0.3, 0.3, 0.3);
        }
        30% {
            opacity: 1;
            transform: scale3d(-1, 1, 1);
        }
        70% {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
        100% {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }
    } 
}

#opponent-hand {
    width: 660px;
    max-width: 90vh;
}