#gamezone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    /** Table layout **/

    #playertables {
        position: relative;
        background-color: #78ad2c;
        border-radius: 30px;
        box-shadow: 2px 2px 5px black;
        border: 1px solid #193b27;
        padding: 0 20px;
        width: 100%;

        .players-row {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 15px;
        }
        
        #toprowplayers {
            flex-direction: row-reverse;
        }

        .playertable {
            position: relative;
            text-align: center;
            border-radius:10px;
            border:1px solid black;
            box-sizing: border-box;
            background-color:rgba(255,255,255,0.7);
            padding:10px;
            min-width: 120px;
    
            &.active {
                border:1px solid orange;
                box-shadow: 0 0 3px 2px orange;
            }
    
            .playertablename {
                user-select: none;
                font-weight: bold;
            }

            &.selectable {
                @keyframes blink { 
                    50% { border-color: red; } 
                }
                border: 4px dashed transparent;
                animation: blink .5s step-end infinite alternate;
                cursor: pointer;

                &.selected {
                    animation: none;
                    box-shadow: 0 0 5px 5px red;
                }
            }
             
        }

        .row {
            display: flex;
            min-height: 183px;

            .rowIndicatorWrapper {
                width: $cardWidth;

                #rowIndicator {
                    width: $cardWidth;
                    height: $cardHeight;
                    overflow: hidden;

                    #rowIndicatorBackground {
                        background-image: url('img/direction.jpg');
                        width: $cardHeight;
                        height: $cardWidth;
                        transform: rotate(90deg);
                        transform-origin: 61px 55px;

                        &.inverse {
                            transform: rotate(-90deg);
                            transform-origin: 84px 90px;
                        }
                    }
                }
            }

            .herd {
                flex: 1;
            }
        }

        .illustration {
            position: absolute;
            bottom: 0;
            height: 150px;
            background-position: bottom center;
            background-size: contain;
            background-repeat: no-repeat;
            pointer-events: none;

            &.left {
                left: 0;
                width: 126px;
                background-image: url('img/illustration-left.png');
                border-radius: 0 0 0 30px;
            }
            &.right {
                right: 0;
                width: 119px;
                background-image: url('img/illustration-right.png');
                border-radius: 0 0 30px 0;
            }
        }
    }

    /* direction popins */

    .direction-symbol {
        &.direction-arrow-icon {
            width: 3rem;
            height: 3rem;
        }
    }
    
    #direction_popin {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        z-index: 2;

        .popin-content {
            display: flex;
            background: white;
            border-radius: 10px;
            box-shadow: 1px 1px 5px 2px #0006;

            #pickBlock {
                display: none;
                padding: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &.visible {
                    display: flex;
                }

                .pickButton {
                    min-width: 100px;
                    max-width: 200px;
                }
            }
        }

        .direction-button {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px;

            .next-player {
                font-weight: bold;
            }
        }

        .centered {
            display: flex;
        }

        &.swap .centered {
            flex-direction: row-reverse;
        }
    }

    #direction_animation {
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .between-players-arrow {
        background-image: url('img/direction.jpg');
        background-size: contain;
        width: $cardHeight / 4;
        height: $cardWidth / 4;
        transform-origin: center center;
        border-radius: 4px;
        transition: transform 0.5s;

        &.top {
            transform: rotate(0deg);

            &.direction-anticlockwise {
                transform: rotate(180deg);
            }
        }

        &.bottom {
            transform: rotate(180deg);

            &.direction-anticlockwise {
                transform: rotate(0deg);
            }
        }
    }

    #direction-animation-symbol {
        font-size: 1200%;
        opacity: 0;
        text-shadow: 0px 0px 10px white, 0px 0px 5px white, 0px 0px 2px white;
    }

    .clockwiseToAnticlockwise {
        animation-name: clockwiseToAnticlockwise;
        animation-duration: 3s;
        animation-fill-mode: both;
    }

    @keyframes clockwiseToAnticlockwise {
        0% {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }
        30% {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
        70% {
            opacity: 1;
            transform: scale3d(-1, 1, 1);
        }
        100% {
            opacity: 0;
            transform: scale3d(-0.3, 0.3, 0.3);
        }
    } 

    .anticlockwiseToClockwise {
        animation-name: anticlockwiseToClockwise;
        animation-duration: 3s;
        animation-fill-mode: both;
    }

    @keyframes anticlockwiseToClockwise {
        0% {
            opacity: 0;
            transform: scale3d(-0.3, 0.3, 0.3);
        }
        30% {
            opacity: 1;
            transform: scale3d(-1, 1, 1);
        }
        70% {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
        100% {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }
    } 

    .downToUp {
        animation-name: downToUp;
        animation-duration: 3s;
        animation-fill-mode: both;
    }

    @keyframes downToUp {
        0% {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }
        30% {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
        70% {
            opacity: 1;
            transform: scale3d(1, -1, 1);
        }
        100% {
            opacity: 0;
            transform: scale3d(0.3, -0.3, 0.3);
        }
    } 

    .upToDown {
        animation-name: upToDown;
        animation-duration: 3s;
        animation-fill-mode: both;
    }

    @keyframes upToDown {
        0% {
            opacity: 0;
            transform: scale3d(0.3, -0.3, 0.3);
        }
        30% {
            opacity: 1;
            transform: scale3d(1, -1, 1);
        }
        70% {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
        100% {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }
    } 
}

#opponent-hand {
    width: 660px;
    max-width: 90vh;
}