.tooltip-fly {
    white-space: nowrap;
    min-width: 40px;
}

/* class also used on score table */
.tooltip-fly-img {
    display: inline-block;
    width: 20px;
    height: 18px;
    background-image: url('img/fly.png'); 
}