$cardWidth: 121px;
$cardHeight: 188px;

.direction-anticlockwise {
    transform: scaleX(-1);
}
.reverse-arrow {
    transform: scaleY(-1);
}

#direction-text {
    text-align: right;
    font-size: 110%;
    margin-right: 10px;

    #direction-play-symbol {
        display: inline-block;
        transition: transform 500ms ease-in-out;
        font-weight: bold;
    }
}

@import 'gametable';
@import 'handdeck';
@import 'tooltips';
@import 'logs';