@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

$cardWidth: 121px;
$cardHeight: 178px;

.direction-anticlockwise {
    transform: scaleX(-1);
}

#direction-text {
    text-align: right;
    font-size: 110%;
    margin-right: 10px;

    #direction-play-symbol {
        display: inline-block;
        transition: transform 500ms ease-in-out;
    }
}

@import 'gametable';
@import 'handdeck';
@import 'tooltips';
@import 'logs';